body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #484747;
}

input[type="texto"]{
    background-color: rgba(247, 249, 250, 0.836);
    border-radius: 5px;
    padding: 15px ;
    text-align: right;
    font-size: 16px;
    cursor: pointer;
    width: 91%;
    box-shadow: 3px 3px 3px rgb(9, 219, 247);
}
.botn {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0px 15px;
    border-radius: 5px;
    border: 2px solid rgb(0, 255, 255);
    box-shadow: 2px 2px 10px rgba(17, 250, 250, 0.664);
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 15px;
  }

input[type=button] {
    background-color: rgb(92, 91, 91);
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(40, 223, 255);
}

input[type="reset"]{
    background-color: rgb(92, 91, 91);
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(40, 223, 255);
}

input[value= "="]{
    width: 153px;
}

table {
    border-radius: 15px;
    padding: 5px 5px;
    border: 3px solid #424141;
    background-color: rgb(161, 159, 159);
}
