@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins", sans-serif;
}

body{
    background-color: rgb(67, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor1{
    width: 1000px;
    min-height: 1100px;
    background: rgb(255, 255, 255);
    margin: 55px;
    display: grid;
    grid-template-columns: 1fr 6fr ;
    box-shadow: 0 10px 65px rgb(255, 255, 255);
}

.contenedor1 .contenedor1_2{
    background-image: url("borrador/ii.jpg");
    object-fit: cover;
    padding: 30px;
    width: 20px;
    margin: 0;
   
}
.botn {
    font-size: 1.25em;
    padding: 0px 15px;
    border-radius: 5px;
    border: 2px solid rgb(0, 255, 255);
    box-shadow: 2px 2px 10px rgba(17, 250, 250, 0.664);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
  }

/* parte del foco y factura */

.foco{
    background: #02bea5;
    width: 100%;
    margin-left: 20%;
    
   
}

.foco span{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 180px;   
}

.foco .e_c{
    position: relative;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    bottom: 30px;
    color: #ffffff;
   
}

.contenedor_e1 .e2{
    display: flex;
    flex-direction: row;
}

.contenedor_e1 .e2 .e3{
    min-width: 150px;
    margin-bottom: 5px;
}

.contenedor_e1 .e2 .e3 h5{
    text-transform: uppercase;
}

.contenedor_e1 .e4 {
    text-transform: uppercase;
    margin-left: 25%;
    margin-top: 100px;
}
 .e4 h2{
    font-weight: 600;
    font-size: 80px;
    color:#02bea5;
    
}
 
 .e4 .fecha{
    color: #02bea5;
    margin-left:50px;
    font-size: 20px;
 }
 .e4 .factura{
    color: #02bea5;
    margin-left: 20px;
    font-size: 20px;
 }
 .e4 .factura a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    
 }
 .e4 .fecha a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
 }

/* parete de factura para abajo */

.contenedor_e2 .e2_e1{
    margin-top: 50px;
    color: #02bea5;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -2px;
    margin-right: 20px;
}


.contenedor_e2 .e2_e2{
    display: flex;
    flex-direction: row;
}

.contenedor_e2 .e2_e2 .e2_e3{
    min-width: 500px;
    margin-bottom: 5px;
}

.contenedor_e2 .e2_e2 .e2_e3 h5{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
}

.contenedor_e2 .e2_e4 h4{
    text-transform: uppercase;
    font-size: 16px;   
}

.e2_e4 .MT {
    color: #02bea5;
    margin-left: 30px;
    letter-spacing: 4px;
    font-weight: 500;
}

.cuenta a{
    color: #000000;
    font-weight: 100;
}

.correo a{
    color: #000;
    font-weight: 100;
}

/* contenido de la tabla */

table{
    margin-top: 50px;
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    margin: 0 0 18%;
}
td{
    padding: 15px;
}
.linea_1{
    color: #ffffff;
}

.rectangulo{
    background-color: rgb(61, 200, 186);
}
.rectangulo_01{
    background-color: rgb(224, 221, 221);
}
.rectangulo_02{
    padding: 2px;
}
.ale{
    text-align: justify;
}

/* de la tabla para abajo */

.e2_e4, .gracias {
    position: relative;
    color:  #02bea5;
    font-size: 65px;
    bottom: 25px;
    
}


.ralla{
    background: #02bea5;
    height: 5px;
    width: 90%;
}

.letra{
    text-align: center;
    margin: 5px;
}

 @media (max-width: 1000px){
    .contenedor1 .contenedor1_2{
        grid-template-columns: repeat(1,2fr);
        width: 90%;
    }
    .foco{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin: 0 0 0 1px;
    }
    .contenedor_e1 .e4 {
        position: relative;
        text-transform: uppercase;
        right: 140px;
        padding: 5px;
    }
    
}
@media (max-width: 400px){
    .contenedor_e1 .e2{
        display: block;
        flex-direction: row;
    
    }
    .e4 h2 {
        position: relative;
        margin: 55px;
        bottom: 100px;
    }
    .e4 h4 {
        position: relative;
        bottom: 100px;
    }
    .contenedor_e2 {
        margin-left: 10%;
    }
    .contenedor_e2 .e2_e2 {
        flex-direction: column;
        grid-template-columns: repeat(1,2fr);
    }
    .contenedor_e2 .e2_e2 .e2_e3{
        margin-bottom: 5px;
        grid-template-columns: repeat(1,2fr);
    }
    
    .MT{
        margin-top: 25px;
    }

   .gracias{
    margin-top: 25px;
   }
    
   .contenedor1{
    position: relative;
    padding: 0;
    margin: 0;
   }
   
}